<div class="center hero-unit">
  <h1>Ruby on Rails Sample Terms and Condition Application</h1>

  <h2>
    This is the home pageof sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


