<div class="center hero-unit">
  <h1>LawPath Ruby on Rails Programming Exercise</h1>

  <h2>
    This is the home page for the LawPath sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://lawpath.com.au/assets/logo.opengraph.png?1378276371", alt: "Rails"), 'http://lawpath.com.au' %>


