<footer class="footer">
  <small>
    Kevin Aditya
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms",    terms_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
